<div class="container colorgrid">
    <h1>Formación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"></div>
    <ul>
        <li><h1> Formación 1</h1> <h3>(años)</h3></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
    <ul>
        <li><h1> Formación 2</h1><h3>(años)</h3></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
    <ul>
        <li><h1> Formación 3</h1> <h3>(años)</h3></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
</div>