<div class="wrapper colorgrid">
 <div class="border border-primary rounded boldColorgrid d-flex container">   
<div class="row-lg-6 "> 
<mat-card class="boldColorgrid"> 
    <mat-card-title>Ignacio Mendez</mat-card-title>
    <mat-card-subtitle>FullStackDev</mat-card-subtitle>
    <img mat-card-img src='./assets/img/igna.jpg' height="175px" width="175px" class="rounded-circle" alt="profilephoto">
   
   
    
</mat-card>
 </div> 
 <div class="row-lg-6 ">
    <mat-card class="boldColorgrid">
        <mat-card-title>Acerca de mi</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic tenetur modi architecto adipisci eligendi obcaecati minus sequi id? Assumenda dolores aliquam aperiam iusto!</mat-card-content>
    </mat-card>
 </div>   
</div>
</div>