<div class="container colorgrid">
    
   
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"></div>
    <ul>
        <li class="d-flex" ><h1> Experiencia Laboral 1</h1> <h3>(años)</h3><i class="fas fa-edit fa-2x mr-2"></i></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
    <ul>
        <li class="d-flex" ><h1> Trabajo 2</h1> <h3>(años)</h3><i class="fas fa-edit fa-2x mr-2"></i></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
    <ul>
        <li class="d-flex" ><h1> Trabajo 3</h1> <h3>(años)</h3><i class="fas fa-edit fa-2x mr-2"></i></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quos et enim vitae distinctio ut eum corporis placeat quod sapiente.</p>

    </ul>
</div>
