<div class="wrapper">
   <div
    class="text-center bg-image"
    style="background-image: url('assets/img/bg.jpg'); height: 100vh"
  >
    <div
      class="mask"
      style="background-color: rgba(0, 0, 0, 0.6); height: 100vh"
    >
      <div class="d-flex justify-content-center static-top align-items-center h-100">
        <nav class="navbar navbar-expand-lg static-top bg-primary navbar-transparent">
          <div class="container-fluid">
            <div class="wrapper">
              <img
                class="APLogo"
                src="assets/img/APLogo.png"
                alt="argPrograma Logo"
              />
            </div>
      
            <div class="wrapper d-flex">
              <button
                class="btn btn-primary m-2"
                role="button"
                (click)="openRegister()"
              >
                Registrarse
              </button>
              <i class="fa fa-linkedin fa-3x m-"></i>
              <i class="fa fa-github fa-3x m-2"></i>
            </div>
          </div>
        </nav>
        <div class="text-white">
          <h1 class="mb-3">Ignacio Mendez Portfolio</h1>
          <h4 class="mb-3">Fullstack Developer</h4>
        </div>
      </div>
    </div>
  </div>
</div>
