<div class="container d-flex view">
<div class="row-m-6"> 
<mat-card> 
    <mat-card-title>Ignacio Mendez</mat-card-title>
    <mat-card-subtitle>FullStackDev</mat-card-subtitle>
    <img mat-card-img src='./assets/img/igna.jpg' height="60px">
    <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat consequuntur laborum laudantium, nobis quasi corrupti?</mat-card-content>
</mat-card>
 </div> 
 <div class="row-m-6">
    <mat-card>
        <mat-card-title>Lorem ipsum dolor sit amet consectetur.</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic tenetur modi architecto adipisci eligendi obcaecati minus sequi id? Assumenda dolores aliquam aperiam iusto!</mat-card-content>
    </mat-card>
 </div>   

</div>