<div class="container colorgrid">

    <h1>Hard and soft skills</h1>
    <div class="col d-flex stl">
    <div class="container row-4">
    <mat-card>

        
        <img src="../../assets/img/angular.png" width="60px" height="70px">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

    </mat-card>
    <mat-card>

        <img src="../../assets/img/springboot.png" width="60px" height="60px">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

    </mat-card>
</div>
<div class="container row-4">
    <mat-card>

     
        <img src="../../assets/img/css.png" width="60px" height="60px">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

    </mat-card>
    <mat-card>

        <img src="../../assets/img/html.png" width="60px" height="70px">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

    </mat-card>
</div>

<div class="container row-4">
    <mat-card>
        
        <img src="../../assets/img/bootstrap.png" width="60px" height="70px">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </mat-card>

    <mat-card>
        <i class="fa fa-github fa-5x"></i>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </mat-card>
   
</div>

</div>
</div>