    <div class="container">
        <h1>Hard and soft skills</h1>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-angular fa-3x"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-5x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="col-m">
            <i class="fa fa-github fa-3x m-2"></i>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        
        </div>

    
    </div>
