@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #fbf7f6;
	font-family: 'Google Sans', 'Avenir';
}

body {
	width: 960px;
	height: 1600px;
	margin:auto;
}

header {
	width: 960px;
	height:200px;
	background:#ef4b49;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav {
	width: 960px;
	height: 100px;
	background: #ef4b49;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#turnos {

	}

#turnos ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#turnos ul li{
	display:inline-block;
}

#turnos ul li a{
	text-decoration: none;
	display: block;
	padding: 10px 24px;
	font-family: 'Bebas Neue';
	font-size: 60px;
	color:#FFFFFF;
}

#turnos ul li a:hover{
	background-color: #ffff00;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #000;
}

main {
	width: 960px;
	height:1240px;

}

footer {
	width: 960px;
	height:50px;
	background: #C06;
}

section#elegidos {
	width: 390px;
	height: 160px;
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}

section#ambo {
	width: 150px;
	height: 150px;
	margin-top: 25px;
	margin-left: 20px;
	float: left;
	background-color: #ffff00;
	border-radius: 50%;
}

section#segundo {
	width: 150px;
	height: 150px;
	margin-top: 25px;
	margin-left: 20px;
	float: left;
	background-color: #ffff00;
	border-radius: 50%;
}

section#tercero {
	width: 150px;
	height: 150px;
	margin-top: 25px;
	margin-left: 20px;
	float: left;
	background-color: #ffff00;
	border-radius: 50%;
}

article {
	width: 200px;
	height: 500px;
	float:left;
}

aside {
	width: 760px;
	height: 1200px;
	float:left;
	overflow: scroll;
	position: relative;
}

h1 {
	font-family: 'Bebas Neue';
	font-size: 80px;
	color:#FFFFFF;
	letter-spacing: 1px;
	text-align: left;
	margin-left: 40px;
	padding-top: 35px;
}

h2 {
	font-family: 'Bebas Neue';
	font-size: 100px;
	color: #000;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;

}

table {     font-family: 'Bebas Neue';
    font-size: 60px;    margin-top: 20px;     width: 180px; text-align: center;  }
	
	table.turnos {     font-family: 'Bebas Neue';
    font-size: 60px;    margin-top: 20px;     width: 1500px; text-align: center;  }

th {     font-size: 60px;     font-weight: normal; padding-top: 8px;     background: #ef4b49;
        border-bottom: 0px solid #fff; color: #FFF; border-radius: 10px; }
		
th.ciudad {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 230px;    background: #00ffff;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }
		
th.prov {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 230px;    background: #00ff01;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }

th.sf {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 230px;    background: #F6F;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }

th.er {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 280px;    background: #34cc67;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }

th.cb {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 230px;    background: #ea98f9;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }
		
th.ct {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 250px;    background: #F90;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }
		
th.oro {     font-size: 60px;     font-weight: normal; padding-top: 8px; width: 230px;    background: #a3bdff;
        border-bottom: 0px solid #fff; color: #000000; border-radius: 10px; }
		
td {    padding-top: 5px;     background: #ffff00;     border-radius: 10px;
    color: #000000;    }
	
td.celda {    padding-top: 5px;     background: #cccccc;     border-radius: 10px;
    color: #000000;    }
	
div {
    text-align: center;
}

svg {
    display: inline-block;
    width: 250px;
    margin: 3% auto;
    padding: 0px 100px;
}

/* SVG RULES */

.hand, 
.hand-double, 
.hand-flick, 
.hand-hold, 
.hand-rock, 
.hand-tap, 
.hand-x, 
.hand-y {
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.arrow-down, 
.arrow-head, 
.arrow-left, 
.arrow-right, 
.arrow-up, 
.arrow-up-1, 
.arrow-up-2, 
.arrow-up-3,   
.hold-1,
.hold-2, 
.line-horizontal, 
.line-rotate, 
.line-vertical, 
.notes, 
.tap-1, 
.tap-2 {
    fill: transparent;
    stroke: #000;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.arrow-up-2, 
.hold-1, 
.tap-1 {
    opacity: .5;
}

.arrow-up-1, 
.hold-2, 
.tap-2 {
    opacity: .25;
}

.arrow-up-3, 
.swipe-horizontal, 
.swipe-rotate, 
.swipe-vertical {
    opacity: .75;
}

.hold-1, 
.hold-2, 
.notes {
    opacity: 0;
}

/* ANIMATION KEYFRAMES */

@keyframes swipe-x {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(50px) rotateZ(10deg);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-50px) rotateZ(-10deg);
    }
}

@keyframes swipe-y {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(50px) rotateZ(-10deg);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-50px) rotateZ(10deg);
    }

}

@keyframes wrapper {
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes wrapper {
    from {opacity :1;}
    to {opacity :0;}
}


/* SVG ANIMATION */

.wrapper * {
    transform-origin: 50% 50%;
    perspective: 100px;
	position: absolute;
	top: 200px;
	right: -100px;
	animation:wrapper 0.5s 1;
    -webkit-animation:wrapper 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

.hand-x {
    animation: swipe-x 1.25s ease-in-out backwards;
    animation-iteration-count:infinite;

}

.hand-y {
    animation: swipe-y 1.25s ease-in-out backwards;
    animation-iteration-count:infinite;

}

#app {
  height: 200px;
  width: 100%;
  background-color: #fbf7f6;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0;
}
#app .container {
  width: 650px;
  height: auto;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
}
#app input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
  border: 4px solid #ef4b49;
  border-radius: 10px;
  color: #000000;
  font-family: 'Google Sans';
  font-size: 60px;
  text-align: center;
}
#app input[type="text"]:focus {
  outline: none;
  border: 2px solid #fff;
}
#app input[type="text"]::placeholder {
  color: #000000;
  font-style: italic;
}

.calendar {
  width: 100%;
  position: relative;
}
.calendar .calendar-layout {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: appear .3s ease forwards;
}
.calendar .calendar-layout .calendar-header {
  width: 100%;
  background-color: #ef4b49;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0 4px;
}
.calendar .calendar-layout .calendar-header .row {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendar .calendar-layout .calendar-header .row .calendar-title {
  font-size: 60px;
}
.calendar .calendar-layout .calendar-header .row i {
  font-size: 60px;
  cursor: pointer;
}
.calendar .calendar-layout .calendar-header .calendar-days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
}
.calendar .calendar-layout .calendar-header .calendar-days .day {
  max-width: calc(100% / 7);
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.calendar .calendar-layout .calendar-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}
.calendar .calendar-layout .calendar-body .calendar-row {
  display: flex;
  flex-direction: row;
  transition: all .150s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9f9f9;
  font-size: 50px;
  color: #606060;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day.disabled {
  background-color: #f3f3f3 !important;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day.selected {
  color: #FF4364;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day.selected:after {
  width: 100%;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day:after {
  content: "";
  height: 3px;
  width: 0px;
  background: #FF4364;
  position: absolute;
  bottom: 0;
  transition: all .3s ease;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day:hover {
  color: #FF4364;
}
.calendar .calendar-layout .calendar-body .calendar-row .calendar-day:hover:after {
  width: 100%;
}
.calendar .calendar-layout .calendar-body .calendar-row.swipe-left {
  opacity: 0;
  transform: translateX(10px);
}
.calendar .calendar-layout .calendar-body .calendar-row.swipe-right {
  opacity: 0;
  transform: translateX(-10px);
}

@keyframes appear {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}