<div class="wrapper colorgrid">
<div class="container  boldColorgrid border border-primary rounded">
  <h1>Skills</h1>
  <div class="col gap-2 d-flex">
    <div class="container row-4">
      <mat-card class="m-2">
        <img src="../../assets/img/angular.png" width="60px" height="70px" alt="angular" />
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
      <mat-card class="m-2">
        <img src="../../assets/img/springboot.png" width="60px" height="60px" alt="img" />
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
    </div>
    <div class="container row-4">
      <mat-card class="m-2">
        <img src="../../assets/img/css.png" width="60px" height="60px" alt="img" />
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
      <mat-card class="m-2">
        <img src="../../assets/img/html.png" width="60px" height="70px"  alt="img"/>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
    </div>
    <div class=" container row-4">
      <mat-card class="m-2">
        <img src="../../assets/img/bootstrap.png" width="60px" height="70px"  alt="img"/>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>

      <mat-card class="m-2">
        <i class="fa fa-github fa-5x"></i>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
    </div>
  </div>
</div>
</div>